.masthead {
  background-attachment: fixed !important;
}

/* Disable parallax on iOS/Safari to prevent oversized images */
.ios-device .masthead,
.safari-device .masthead {
  background-attachment: scroll !important;
}

@media (max-width: 500px) {
  #logotext {
    display: none;
  }
}

@media (max-width: 500px) {
  .text-center.brand-heading {
    font-size: 2rem!important;
  }
}

.nav-text {
  color: rgb(62,41,31);
  border-left: 2px solid rgb(62,41,31);
  text-transform: none;
}

.text-primary {
  color: rgb(245,205,126) !important;
}

h2 {
  color: rgb(245,205,126);
}

